- var image_path = '/img'
- var css_path = '/css'
-
  var nav = {
    index : {
      title : "HOME",
      url : "/"
    },
    about : {
      title : "ABOUT",
      url : "about.html"
    },
    works : {
      title : "WORKS",
      url : "works.html"
    },
    /*service : {
      title : "SERVICE",
      url : "service.html"
    },*/
    contact : {
      title : "CONTACT",
      url : "contact.html"
    }
  }
  
