extends _layout
block var
  - metas = {}
  - metas.title = 'title'  
  - metas.url = 'url'
  - metas.image = 'image'
  - metas.site_name = 'site_name'
  - metas.description = 'description'
block append meta
  +meta(metas)
block title
  title #{metas.title}
block body
  include _header
  main#main
    ul.btns
      li
        a.btn(href="#") ボタン
  include _footer
